<div class="experience-section">
    <h2>{{ .Title }}</h2>
    {{ if .Params.subtitle }}
      <h3>{{ .Params.subtitle }}</h3>
    {{ end }}
  
    <div class="experience-list">
      {{ range .Params.experience }}
        <div class="experience-item">
          <h3>{{ .title }}</h3>
          <p><strong>Company:</strong> {{ .company }}</p>
          
          {{ if .company_url }}
            <p><a href="{{ .company_url }}" target="_blank">{{ .company }}</a></p>
          {{ else }}
            <p><strong>Location:</strong> {{ .location }}</p>
          {{ end }}
          
          <p><strong>Date:</strong> {{ .date_start }} to {{ if .date_end }}{{ .date_end }}{{ else }}Present{{ end }}</p>
          
          {{ if .description }}
            <p><strong>Responsibilities:</strong></p>
            <p>{{ .description | markdownify }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
  